# Generate a database password with: openssl rand -hex 32
SPARKY_FITNESS_DB_PASSWORD=db_password
# Generate a 64-character encryption key with: openssl rand -hex 32
SPARKY_FITNESS_API_ENCRYPTION_KEY=ecryption_key
# Generate an authentication secret with: openssl rand -base64 32
BETTER_AUTH_SECRET=auth_secret
SPARKY_FITNESS_FRONTEND_URL=https://sparkyfitness.home.hexmelt.com
