#{
#    # This tells Caddy to use its internal CA for local domains
#    local_certs
#}

(cloudflare) {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.1
    }
}

homeassistant.home.hexmelt.com {
    import cloudflare
    reverse_proxy home-assistant-homeassistant-1:8123
}

hermes.home.hexmelt.com {
    import cloudflare
    reverse_proxy hermes-hermes-1:9119
}

actual.home.hexmelt.com {
    import cloudflare
    reverse_proxy actual-budget-actual-1:5006
}

sparkyfitness.home.hexmelt.com {
    import cloudflare
    reverse_proxy sparkyfitness-sparkyfitness-frontend-1:80
}

floppy.home.hexmelt.com {
    import cloudflare
    reverse_proxy floppy-floppy-1:8000
}
