HERMES_DASHBOARD=1
HERMES_TUI=1
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=username
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=password
API_SERVER_KEY=long-generated-key
TELEGRAM_BOT_TOKEN=1234:TOKEN
TELEGRAM_ALLOWED_USERS=1234
TELEGRAM_HOME_CHANNEL=1234
